.header{
  width:100%;
  height:128px;
  display:flex;
  justify-content:center;
}

.inner{
  width:1440px;
  height:128px;
  padding:0 40px;
  box-sizing:border-box;

  display:flex;
  align-items:center;
  justify-content:space-between;
}
/* ---------- LOGO ---------- */

.logoLink {
  display: flex;
  align-items: center;
}

.logo {
  width: 70px;
  height: 70px;
  display: block;
  object-fit: contain;
  margin-left: 80px;
}

/* ---------- NAV ---------- */

.nav {
  width: 518px;
  height: 28px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.link {
  text-decoration: none;
  color: #1a1a1a;
  font-weight: 500;
  font-size: 14px;
  white-space: nowrap;
}

.active {
  font-weight: 700;
}

/* ---------- CART ---------- */

.cartBtn {
  position: relative;
  width: 48px;
  height: 48px;
 
  margin-top: 41px;
  margin-bottom: 39px;

  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

.cartIcon {
  width: 48px;
  height: 48px;
  display: block;
}

.cartBadge {
  position: absolute;
  top: -6px;
  right: -8px;

  min-width: 18px;
  height: 18px;
  padding: 0 5px;

  border-radius: 999px;
  background: #0b55ff;
  color: #ffffff;

  font-size: 12px;
  font-weight: 800;

  display: flex;
  align-items: center;
  justify-content: center;
}
