
*,
*::before,
*::after {
  box-sizing: border-box;
 

}

.inner {
  width: min(1440px, 100%);
  margin: 0 auto;
  padding: 0 40px;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Montserrat', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, sans-serif;
}