.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
}

/* общий контейнер для ВСЕХ страниц и блоков */
:global(.inner) {
  width: min(1440px, 100%);
  margin: 0 auto;
  padding: 0 40px;
  box-sizing: border-box;
}